.catalog-section .counter_block
{
  text-align:center;
}
.catalog-section .counter_block>div
{
    border: #ffcf86 solid 1px;
    display:inline-block;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}
.catalog-section .counter_block a
{
    color:#000;
    font-size:24px;
    line-height:24px;
    display: inline-block;
    padding-left:10px;
    padding-right:10px;
    height:30px;
    padding-top:2px;
    vertical-align: middle;

}
.catalog-section .counter_block a:first-child
{
  padding-left:17px;
}
.catalog-section .counter_block a:last-child
{
  padding-right:14px;
}
.catalog-section .counter_block input[type="text"]
{
    width:50px;
    text-align:center;
    border:none;
    height:30px;
    background:#ffcf86;
    color:#000;
    font-size:18px;
    vertical-align: middle;
    outline:none;
}
.catalog-section .add-to-cart-block
{
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}
.catalog-section .add-to-cart-block .add-to-cart
{
  font-weight:bold;
  font-size: 16px;
  line-height: 16px;
  color: #ffcf86;
  text-transform: uppercase;
  display: inline-block;
  background: #fff;
  border: #ffcf86 solid 1px;
  padding: 10px 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  cursor: pointer;
}
.catalog-section .add-to-cart-block .add-to-cart:hover
{
  background: #ffcf86;
  color:#fff;
}
.catalog-section .item .price
{
    color: #8d3b1e;
    font-size:20px;
    text-align:center;
    font-weight:bold;
    margin-bottom:10px;
}


.element-detail .counter_block
{
  text-align:center;
}
.element-detail .counter_block>div
{
    border: #ffcf86 solid 1px;
    display:inline-block;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}
.element-detail .counter_block a
{
    color:#000;
    font-size:24px;
    line-height:24px;
    display: inline-block;
    padding-left:10px;
    padding-right:10px;
    height:30px;
    padding-top:2px;
    vertical-align: middle;

}
.element-detail .counter_block a:first-child
{
  padding-left:17px;
}
.element-detail .counter_block a:last-child
{
  padding-right:14px;
}
.element-detail .counter_block input[type="text"]
{
    width:50px;
    text-align:center;
    border:none;
    height:30px;
    background:#ffcf86;
    color:#000;
    font-size:18px;
    vertical-align: middle;
    outline:none;
}
.element-detail .add-to-cart-block
{
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}
.element-detail .add-to-cart-block .add-to-cart
{
  font-weight:bold;
  font-size: 16px;
  line-height: 16px;
  color: #ffcf86;
  text-transform: uppercase;
  display: inline-block;
  background: #fff;
  border: #ffcf86 solid 1px;
  padding: 10px 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.element-detail .add-to-cart-block .add-to-cart:hover
{
  background: #ffcf86;
  color:#fff;
}
.element-detail .price
{
    color: #8d3b1e;
    font-size:20px;
    text-align:center;
    font-weight:bold;
    margin-bottom:10px;
}
.price-cart-block
{
    width:160px;
}

.top-cart
{
    padding-left:10px;
}
.top-cart .img
{
    width:20px;
    height:16px;
    display:inline-block;
}
.top-cart .cart
{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-align: left;
    font-size: 18px;
    padding: 4px 10px;
}
@media (max-width: 850px) 
{
    .top-cart .cart
    {
        padding:0px;
        font-size:14px;
        margin-top:-3px;
        margin-bottom:20px;
    }  
}
.catalog-section .item .img
{
    position: relative;
}
.catalog-section .item .properties
{
    margin-bottom:10px;
}

.cart-div
{
    /* width:800px; */
}
.cart-items
{

}
.cart-items tr td.element-pic
{
    width:20%;
}
.cart-items tr td.element-price
{
    width:100px;
}
.cart-items tr td.element-cont
{
    width:150px;
}
.cart-items tr td
{
    padding:5px;
}

.cart-items .element-cont
{
  text-align:center;
}
.cart-items .element-cont>div
{
    border: #ffcf86 solid 1px;
    display:inline-block;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}
.cart-items .element-cont span
{
    color:#000;
    font-size:24px;
    line-height:24px;
    display: inline-block;
    padding-left:10px;
    padding-right:10px;
    height:30px;
    padding-top:2px;
    vertical-align: middle;
    cursor: pointer;

}
.cart-items .element-cont span:first-child
{
  padding-left:17px;
}
.cart-items .element-cont span:last-child
{
  padding-right:14px;
}
.cart-items .element-cont input[type="text"]
{
    width:50px;
    text-align:center;
    border:none;
    height:30px;
    background:#ffcf86;
    color:#000;
    font-size:18px;
    vertical-align: middle;
    outline:none;
}
.element-del .del
{
    color:#990000;
    text-decoration:none;
}
@media (max-width: 600px) 
{ 
    .element-del .del
    {
        font-size:40px;
    }    
}
.cart-items tr td
{
    border-bottom:#debeb4 solid 1px;
}
.cart-items tr:first-child td
{
    border-top:#debeb4 solid 1px;
}
.cart-summ
{
    text-align:right;
    color:#8d3b1e;
    font-size:20px;
}
.cart-summ span
{
    font-weight:bold;
}

@media (max-width: 850px) 
{ 
    .cart-div
    {
        width:100%;
    }   
}
@media (max-width: 600px) 
{ 
    .cart-items
    {
        display:block;
    }   
    .cart-items tr
    {
        display:block;
        border-bottom:#debeb4 solid 1px;
    }   
    .cart-items tr:first-child
    {
        border-top:#debeb4 solid 1px;
    } 
    .cart-items tr td
    {
        display:block;
        border:none !important;
        width:auto !important;
        text-align:center;
    }   
}
.cart-form-div
{
    /* width:800px; */
}
.cart-form
{
    margin-left:0px;
    margin-right:auto;
}
.cart-form .item
{
    text-align: right;
    margin-top:10px;
    margin-bottom:10px;
}
.cart-form .item:first-child
{
    margin-top:0px;
}
.cart-form input[type="text"]
{
    width:100%;
    padding:5px;
    outline:none;
    border:#8d3b1e solid 1px;
}
.cart-form textarea
{
    width:100%;
    height:120px;
    padding:5px;
    outline:none;
    border:#8d3b1e solid 1px;
    resize:none;
}
.cart-form input[type="submit"]
{
    border:#8d3b1e solid 1px;
    background:none;
    color:#8d3b1e;
    outline:none;
}
.error
{
    border:#ff0000 solid 1px !important;
}
.error-text
{
    color:#ff0000;
}
.green
{
    color:#009900;
}
@media (max-width: 850px) 
{ 
    .cart-form-div
    {
        width:100%;
    }
}
@media (max-width: 500px) 
{ 
    .cart-form
    {
        width:100%;
    }  
    .cart-form input[type="text"]
    {
        width:100%;
    }
    .cart-form textarea
    {
        width:100%;
    }
    .cart-form .item
    {
        text-align:left;
    }
}
header nav li a
{
    font-size:18px;
    padding:4px 10px;
}
.brends-list>div
{
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}
.brends-list img
{
    margin:0px auto;
}
.cart-text
{
    margin-top:20px;
}
@media (min-width: 992px) 
{ 
    .catalog-sections-nav
    {
        position: fixed;
        width: 100%;
        z-index: 100;
    }
}
.cart-mobile-div
{
    display:none;
}
@media (max-width: 767px) 
{ 
    .cart-mobile-div
    {
        display:block;
    }
    .cart-mobile-div>div
    {
        display:block;
        position: fixed;
        z-index:100;
        top:100px;
        left:0px;
        height:50px;
        width:50px;
        -webkit-border-radius: 0 15px 15px 0;
        border-radius: 0 15px 15px 0;
        background:#43261d;
        padding:5px;
    }
    .cart-mobile-div a
    {
        display:block;
        background:url(/images/basket-white.svg) top left no-repeat;
        background-size:cover;
        height:100%;
        width:100%;
        position: relative;
    }
    .cart-mobile-div a span
    {
        height:20px;
        width:20px;
        color:#fff;
        background:red;
        text-align:center;
        position: absolute;
        bottom:0px;
        right:0px;
        font-size:12px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        padding-top:2px;
    }
}
.top-menu-mobile
{
    position:fixed;
    z-index:100;
}
@media (min-width: 992px)
{
    .catalog-padding
    {
        padding-top:90px;
    }
}
@media (max-width: 767px)
{
    .main 
    {
        margin-top: 50px;
    }
    .catalog-sections-nav
    {
        position: fixed;
        width: 100%;
        z-index:100;
    }
    .catalog-padding
    {
        margin-top:90px;
    }
}
.element-detail .img
{
    position: relative;
}
.element-detail .img .label {
    position: absolute;
    bottom: 0px;
    right: 0px;
    top:auto; 
}
.element-detail .img .label > div {
    background:none;
    width:60px;
    height:60px;
    float:right;
    padding:0px;
    margin-bottom:0px;
    margin-left:10px;
}
.element-detail .img .label > div img {
    display:block;
}
.catalog-section .item .img .label
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    top:auto; 
}
.catalog-section .item .img .label > div
{
    background:none;
    width:60px;
    height:60px;
    float:right;
    padding:0px;
    margin-bottom:0px;
    margin-left:10px;
}
.element-detail .img .label .label-lider {
    color: #8d3b1e;
    border: #8d3b1e 3px double;
}
.element-detail .img .label .label-new {
    color: #a7ac36;
    border: #a7ac36 3px double;
}
.catalog-section .item .img .label .label-utoch
{
    color: #C20000;
    border: #C20000 3px double;    
}
.catalog-section .item .img .label .label-no
{
    color: #FF4900;
    border: #FF4900 3px double;    
}
.element-detail .img .label .label-utoch {
    color: #C20000;
    border: #C20000 3px double;
}
.element-detail .img .label .label-no{
    color: #FF4900;
    border: #FF4900 3px double;
  }

.news-items .item
{
    margin-bottom:20px;
}
.news-items .item .name
{
    font-size:24px;
    text-decoration:none;
}
.news-items .item .name:hover
{
    text-decoration:underline;
}
@media (min-width: 1200px) and (max-width: 1560px) 
{
    .news-items .item 
    {
        width:33.3%;
    }
}
.news-detail-picture
{
    padding-top:20px;
}